In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
import glob
import pandas as pd

csv_files = glob.glob('resources/*.csv')

data = pd.concat([pd.read_csv(file) for file in csv_files])

data.to_csv('data.csv', index=False)

data.head()

,#,Listing ID,St,MLS Area,Address,# Beds,# Full Baths,# Half Baths,# Garage Spaces,Levels,Year Built,Acres,SqFt,List Price,LP$/SqFt,Close$/SqFt,Close Price,Close Date,DOM,CDOM
0,1,9214811,C,1A,9226 Jollyville Rd Unit #281,1,1,0,0.0,1,1983,0.0521,759,"$265,000",$349.14,$342.56,"$260,000",04/09/2024,146,145
1,1,8006884,C,1A,3463 North Hills Dr,2,2,1,2.0,2,1973,0.0344,"1,520","$300,000",$197.37,$194.08,"$295,000",02/14/2024,134,133
2,1,5125510,C,1A,6002 Mountainclimb Dr,4,3,0,0.0,1,1962,0.3088,"2,729","$845,000",$309.64,$326.13,"$890,000",04/09/2024,4,3
3,1,4286934,C,1A,7710 Shadyrock Dr,4,2,1,2.0,1,1970,0.2897,"2,336","$980,000",$419.52,$395.98,"$925,000",02/23/2024,23,22
4,1,6981284,C,1A,8807 Wildridge Dr,4,2,0,2.0,1,1971,0.2675,"1,866","$996,500",$534.03,$499.46,"$932,000",03/22/2024,15,15

In [7]:
data.columns

Index(['#', 'Listing ID', 'St', 'MLS Area', 'Address', '# Beds',
       '# Full Baths', '# Half Baths', '# Garage Spaces', 'Levels',
       'Year Built', 'Acres', 'SqFt', 'List Price', 'LP$/SqFt', 'Close$/SqFt',
       'Close Price', 'Close Date', 'DOM', 'CDOM'],
      dtype='object')

In [10]:
mls = data['MLS Area'].unique()

In [12]:
y = []
for x in mls:
    a = len(data[data['MLS Area'] == x])
    y.append(a)

max(y)

323

In [13]:
data['MLS Area'].value_counts()

MLS Area
RRE    323
LH     197
HH     120
RRW    112
HS     111
      ...
SH       2
GP       1
FC       1
LP       1
BL       1
Name: count, Length: 65, dtype: int64